@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-undangan: var(--font-great-vibes);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-modern {
  @apply border rounded-md px-3 py-2 w-full text-sm focus:outline-none focus:ring-2 focus:ring-[#6bae9c];
}

.btn-primary {
  @apply bg-[#6bae9c] hover:bg-[#5d7271] text-white font-semibold py-2 px-4 rounded-lg transition duration-300;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out both;
}
